/* Base Styles */
body {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Arial', sans-serif;
  background: #38003C;
  color: #333;
  // padding: 30px;
  margin: 0;
}



.page-wrapper {
  display: grid;
  grid-template-rows: 40% 20% 70%;
  margin-left: 4.5vw; /* Set margin to 0 to align it centrally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.top-main-card {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  // overflow: hidden;
  margin-top: 20px;
}

.middle-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
}

.info-cards {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: 0;

  .card {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    line-height: 1.5rem;

    &:hover {
      transform: scale(1.02);
      z-index: 1000;
      background-color: #f2f2f2;
    }

    .counter {
      font-family: 'Montserrat', sans-serif;
      margin-top: 10px;
      font-size: 3rem;
      font-weight: bold;
      color: #333;
      }

      span:last-child {
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
        // make the font size max for box size
        font-size: 1rem;
        color: #888;
        text-align: center;
      }
    }
  }

  .strength, .weakness, .view-table {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    height: 60%;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s, color 0.5s;
    line-height: 2rem;
    align-items: center;
  }

  .weakness {
    background-color: #a6003a;
  }

  .strength {
    background-color: #00ad59;
  }

  .view-table {
    background-color: #00b4ba;
  }

  .view-table:hover {
    color: white;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 145, 150)
  }

  .strength:hover {
    background-color: #008344;
    color: white;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
  }

  .weakness:hover {
    background-color: #85002f;
    color: white;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
  }

  .button-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
    justify-content: center;
    text-decoration: none;
    line-height: 3rem;
  }

  .sandw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: none;
  }

.new-card {
  margin-right: 20px;
  height: 100%;
  width: 7.5%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  justify-content: center;
}

.suggestions {
  // margin: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #38003c;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s;
  border: none;
  // border-radius: 100%;
  width: 3%;  // cursor: pointer;
}

.suggestions:hover {
  background-color: #28002b;
  color: rgb(228, 228, 228);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.default-button {
  height: 30%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38003c;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s;
}

.default-button:hover {
  background-color: #28002b;
  color: rgb(228, 228, 228);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.bottom-section {
margin-top: -45%;
margin-bottom: 10%;

height: 100%;
width: 100%;
}


.graph-card {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  // box-shadow: none !important;
  transition: transform 0.3s;
  width: 50%;
}

.graph-card:hover {
  transform: translateY(-5px);
}

.tabs-wrapper {
  margin-top: 2rem;
}

.nav.nav-tabs {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  // margin-left:10px;
  background-color: #38003C;
  width: 96%;
  border-bottom: none;
}

.nav-tabs .nav-link {
  margin-right: 14px;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -10px;
}

.nav-tabs .nav-link.active {
  color: rgb(228, 228, 228);
  border: none;
}

#pie-charts-tab {
  background-color: #B58DB6;
  color: rgb(255, 255, 255);
}

#other-charts-tab {
  background-color: #B58DB6;
}

#other-charts {
  background-color: #B58DB6;
  padding: 20px 0;
  display: flex;
  border-radius: 10px;
  width: 95%;
  margin-right: 10px;
  // drop shadow
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

#pie-charts {
  background-color: #B58DB6;
  padding: 20px 0;
  display: flex;
  border-radius: 10px;
  width: 95%;
  margin-right: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

.white{
  color: white;
}


.tabs-wrapper .tab-content {
  margin-top: 0.5rem;
  position: relative;
}

.tab-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure it takes up the full width */
  display: none; /* By default, hide all tab panes */
}

/* Display the active tab-pane */
.tab-pane.active {
  display: block;
}

.title{
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: -90px;
  margin-top: 10px;
  margin-left: 0;
  font-family: 'Montserrat', sans-serif;
}

.custom-modal {
  max-width: 95%;
  margin: 20px auto;
}

.modal-content {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #F6F6F6; /* You can use a subtle background color if you want */
}

.modal-header {
  color: white;
  border-bottom: none;
  padding: 15px 20px;
  background-color: #38003C; /* Darker color for the header */
}

.btn-close {
  background-color: #B58DB6; /* Lighter color for close button */
  border: none;
  color: #ffffff;
  opacity: 1; /* To make sure it's not transparent */
}

.btn-close:hover {
  color: white;
  background-color: #9E79A3; /* A slightly darker tint of your lighter color on hover */
}

.modal-title {
  font-weight: 500;
  color: #B58DB6; /* Lighter color for the title */
}

.modal-body {
  padding: 20px;
  background-color: #38003C; /* Darker color for the body text */
}

.league-graph-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 100%;
  gap: 15rem;
}

.type1{
  background-color: #38003C;
}
// saved for later use
// .card-title {
//   font-size: 24px;
//   margin-bottom: 10px;
// }


// .signup-button {
//   padding: 10px 20px;
//   background-color: #e90052;
//   color: white;
//   font-weight: bold;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
//   transition: background-color 0.5s, color 0.5s;
// }

// .signup-button:hover {
//   background-color: #04f5ff;
//   color: black;
//   box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
// }

#view-table-link {
  text-decoration: none;
}

.caro-weak-link-transfers {
  text-decoration: none;
  background-color: #00FF85;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.caro-weak-link-info{
  text-decoration: none;
  background-color: #04F5FF;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.caro-weak-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.caro-link-info {
  text-decoration: none;
  background-color: #04F5FF;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.caro-link {
  width: 100%;
  display: flex;
  justify-content: start;
}





.slider {
  // -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
