/* Base Styles */
body {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Arial', sans-serif;
  background: #38003C;
  color: #333;
  padding: 30px;
  margin: 0;
}


.page-wrapper {
  display: grid;
  grid-template-rows: 40% 20% 70%;
  height: calc(100vh - 60px); /* Subtracting 60px because of 30px padding on top and bottom */
  margin-left: 4.5vw; /* Set margin to 0 to align it centrally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.top-main-card {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  // overflow: hidden;
margin-top: 20px;
}

.middle-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: 0;

  .card {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    line-height: 1.5rem;

    &:hover {
      transform: scale(1.02);
      z-index: 1000;
      background-color: #f2f2f2;
    }

    .counter {
      margin-top: 10px;
      font-size: 2.5rem;
      font-weight: bold;
      color: #333;
      }

      span:last-child {
        margin-top: 10px;
        font-size: 1rem;
        color: #888;
      }
    }
  }

  .strength, .weakness, .view-table {
    width: 30%;
    height: 70%;
    // margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s, color 0.5s;
    line-height: 2rem;
    align-items: center;
  }

  .weakness {
    background-color: #e90052;
  }

  .strength {
    background-color: #00ff85;
  }

  .view-table {
    background-color: #04F5FF;
  }

  .view-table:hover {
    color: white;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
    background-color: #03d1d8;
  }

  .strength:hover {
    background-color: #02d871;
    color: white;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
  }

  .weakness:hover {
    background-color: #ab013d;
    color: white;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
  }

  .button-text {
    font-size: 1rem;
    color: white;
    justify-content: center;
  }

  .sandw {
    display: flex;
    flex-direction: column;
  justify-content: center;
  transform: none;
}

.new-card {
  margin-right: 20px;
  height: 100%;
  width: 7.5%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}

.suggestions {
  // margin: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #38003c;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s;
  border: none;
  // border-radius: 100%;
  width: 3%;  // cursor: pointer;
}

.suggestions:hover {
  background-color: #28002b;
  color: rgb(228, 228, 228);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.default-button {
  height: 30%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38003c;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s;
}

.default-button:hover {
  background-color: #28002b;
  color: rgb(228, 228, 228);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.bottom-section .graphs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  height: 100%;
}

.graphs {
  margin-top: -30%;
  padding: 10px;
}

.graph-header{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  // background-color: crimson;
  height: 100vh;
  color: white;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}

.graph-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  color: #ffffff;

  &:hover {
    transform: translateY(-5px);
  }
}

.custom-title {
  font-size: 65px;
  color: #ffffff;
  margin: 20px 0;
  font-weight: bolder;
  // add inner shadow to the text to make it seem like it is inset
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}











.custom-modal {
  max-width: 95%;
}

.modal-content {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-bottom: none;
  padding: 15px 20px;
}

.modal-title {
  font-weight: 500;
}

.modal-body {
  padding: 20px;
}


// saved for later use
// .card-title {
//   font-size: 24px;
//   margin-bottom: 10px;
// }


// .signup-button {
//   padding: 10px 20px;
//   background-color: #e90052;
//   color: white;
//   font-weight: bold;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
//   transition: background-color 0.5s, color 0.5s;
// }

// .signup-button:hover {
//   background-color: #04f5ff;
//   color: black;
//   box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
// }
