/* Base Styles */
.backg{
  background-color: #f5f5f5;
}

.info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal-width columns */
  grid-template-rows: 1fr 1fr;
  gap: 20px;  /* Adjust for space between cards */
  width: 100%;
  height: 100%;
  margin: 0;

  .card {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    line-height: 1.5rem;

    &:hover {
        transform: scale(1.2);

    }

    .counter {
        margin-top: 10px;
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
    }

    span:last-child {
        margin-top: 10px;
        font-size: 1rem;
        color: #888;
    }
  }
}
// make the move-right class

.content-container {
  display: grid;
  grid-template-columns: 15% 50% 30% 5%;
  align-items: stretch;
  justify-content: center;
  grid-gap: 10px;
  height: 40vh;
  width: 90vw;
  margin: 5vh auto;  /* Center container on page */
  padding: 30px;
  // background-color: #ffffff;
  border: none;
  border-radius: 10px;
  // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);  /* Softer shadow */
}

.strength, .weakness {
  width: 100%;
  height: 50%;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s, color 0.5s;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weakness {
  background-color: #e90052;  /* Slight transparency */
}

.strength {
  background-color: #00ff85;  /* Slight transparency */
}

.strength:hover {
  background-color: #02d871;
  color: white;
  box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
}

.weakness:hover {
  background-color: #ab013d;
  color: white;
  box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
}


.button-text {
  font-size: 1rem;
  color: white;
  justify-content: center;
}

.sandw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;  /* Push buttons to the right side of its container */
  padding-right: 20px;  /* Adjust the padding to move more or less away from the center */
}

.new-card {
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);  /* Slight transparency */
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Softer shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suggestions {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.suggestions:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


.default-button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38003c;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s, color 0.5s;
}

.default-button:hover {
  background-color: #28002b;
  color: rgb(228, 228, 228);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}


.eval-card {
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.custom-modal {
  max-width: 95%; /* Set to desired width */
}

/* Modernize the modal content with rounded edges and shadow */
.modal-content {
  border-radius: 20px; /* Add rounded corners */
  overflow: hidden; /* Hide any child content (like the modal-body) that might breach the rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a shadow for a lifted look */
}

/* Style the modal header for a cleaner look */
.modal-header {
  border-bottom: none;
  padding: 15px 20px;
}

.modal-title {
  font-weight: 500;
}

/* Style the modal body */
.modal-body {
  padding: 20px;
}



// saved for later use
// .card-title {
//   font-size: 24px;
//   margin-bottom: 10px;
// }

// .custom-title {
//   font-size: 32px;
//   color: #333;
//   margin: 20px 0;
//   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
// }

// .signup-button {
//   padding: 10px 20px;
//   background-color: #e90052;
//   color: white;
//   font-weight: bold;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
//   transition: background-color 0.5s, color 0.5s;
// }

// .signup-button:hover {
//   background-color: #04f5ff;
//   color: black;
//   box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
// }
