.fixture-container {
  // background-image: linear-gradient(#00FF85, #FFFFFF);
  background-color: #B58DB6;
  margin: 150px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.fixture-titles {
  display: flex;
  align-items: center;

  h1 {
    padding-left: 500px;
    font-size: 32px;
    // color: #333;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  h2 {
    font-size: 20px;
    // color: #333;
    color: white;
    // margin: 0 auto;
    margin-left: -520px;
    margin-top: 40px;
    margin-bottom: -20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-left: 325px;
  }
}

.accordion {
  margin: 20px;
  border-radius: 10px;
}

.team-name {
  width: 180px;
}

.accordion-button {
  justify-content: space-between;
  &:after {
    margin-left: unset;
  }
}

.date-button-container {
  display: flex;
  justify-content: space-between;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  &:hover {
  background-color: #e3e9e3;
  }
}

button:hover {
  background-color: #e3e9e3;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.date-button {
  text-decoration: none;
  color: white;
  background-color: rgba(232, 225, 225, 0.5);
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  &:hover {
    background-color: rgba(232, 225, 225, 0.8);
    color: white;
  }
}

// within the accordian collapsed //

.game-info-container {
  width: 80%;
  margin: 0px auto;
  padding-right: 20px;
}

.game-info-header {
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: black;
  background-color: #B58DB6;
  padding: 2px;
  border-radius: 8px;
}

.card-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  font-size: 14px;
}

.game-info-box-home  {
  width: 50%;
  color:black;
  font-size: 14px;
  padding-right: 10px;
  text-align: right;
  border-right: solid #B58DB6 1px ;
}

.game-info-box-away {
  padding-left: 10px;
  width: 50%;
  color:black;
  font-size: 14px;
}
