

.fixture-container {
  // background-image: linear-gradient(#00FF85, #FFFFFF);
  background-color: #B58DB6;
  margin: 150px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.fixture-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: -10px; /* Adjust as needed */
    margin-top: -10px;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: -20px; /* Adjust as needed */
    padding-top: 5px;
  }
}


.accordion {
  margin: 20px;
  border-radius: 10px;
}

.team-name {
  width: 180px;
}

.accordion-button {
  justify-content: space-between;
  &:after {
    margin-left: unset;
  }
}

.date-button-container {
  display: flex;
  justify-content: space-between;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  &:hover {
  background-color: #e3e9e3;
  }
}

button:hover {
  background-color: #e3e9e3;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.date-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #38003C;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  &:hover {
    background-color: rgba(232, 225, 225, 0.8);
    color: black;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
  }
}
