body {
  overflow-x: hidden;  /* This hides horizontal overflow */
}

html {
  scroll-behavior: smooth;
}

.home-container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #38003C;
  z-index: 1;
}


.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 107vw;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: no-repeat;
  background-size: cover;
  overflow: hidden;
  filter: brightness(0.5);
}

.top-text h1{
  margin-top: 20px;
  text-align: center;
  align-self: flex-start;
  width: 80vw;   /* Align text to the left side */
  font-family: 'VT323', monospace;
  font-size: 62px;
  font-weight: 800;
  color: #ffffff;
  margin: 0;
  text-shadow: 40px 40px 100px rgb(0, 0, 0);
}

.scroll1{
  transform: translateY(100%);
  transition: transform 2s;
}


.scroll2{
  transform: translateY(100%);
  transition: transform 2s;
}
.scroll3{
  transform: translateY(100%);
  transition: transform 2s;
}


.arrow1{
  position: absolute;
  bottom: 40px;
  right: 20%;
  rotate: 20deg;
  transform: scaleX(-1);
  width: auto;
  height: 200px;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;

  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  align-items: center;  /* Align items to the start (left) */
  padding-left: 20px;
  margin-right: -20px;
  margin-top:-10px;
}


.actions {
  display: none;   /* Hide the buttons container */
  flex-direction: column; /* Stack the buttons vertically */
  align-items: flex-start; /* Align buttons to the left */
  gap: 15px;  /* Provide a gap between buttons */
  opacity: 0;  /* Initially transparent */
  transition: opacity 0.5s ease-in-out;
  margin-top: 20px; /* Margin from the text */
}

.action-button {
  padding: 15px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease;
}

.action-button:hover {
  color: rgb(228, 228, 228);
}

.action-link {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: $light-gray;
  text-decoration: none;
}

.icon {
  color: $light-gray;
}

.login {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 40px;
  transition: width 0.3s ease;
}

.login .icon {
  margin-left: -10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.login-text {
  font-size: 20px;  /* Making the text smaller */
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  margin-left: 5px;  /* Spacing between the icon and text */
}
.login:hover{
  width: 200px;  /* Adjust based on your design */
  background-color: #28002b;  /* Darken background on hover */
}

.login:hover {
  background-color: #28002b;  /* Darken background on hover */
  width: auto;  /* Let it auto adjust based on content */
  padding-right: 10px;  /* Padding on hover for better spacing */
}

.login:hover .login-text {
  background-color: #28002b;  /* Darken background on hover */
  opacity: 1;  /* Display text on hover */
}

.view-players {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 1000;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 40px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.eye-icon {
  transition: transform 0.3s ease;
}

.players-text {
  font-size: 20px;  /* Making the text smaller */
  margin-left: -5px;
  display: none;
  white-space: nowrap;
}

.view-players:hover {
  width: 200px;
}

.view-players:hover .players-text {
  display: inline;
}

.view-players:hover .eye-icon.fa-eye {
  display: none;
}

.view-players:hover .eye-icon.fa-eye {
  display: inline;
}



.middle-section {
  display: flex;
  justify-content: flex-end; /* This pushes content to the right */
  align-items: center;
  height: 100vh; /* Takes up the full height of the viewport */
  padding-right: 5%; /* Add some padding to the right to give it some space from the edge */
  position: relative;
  margin-top: -250px; /* For any absolutely positioned children if needed */
}

.middle-section h1 {
  text-align: left; /* Aligns the text to the right */
  font-family: 'VT323', monospace;
  font-size: 50px;
  font-weight: 800;
  color: #ffffff;
  width: 50vw; /* You might need to adjust this based on the size and structure of your site */
  margin-top: 0;
  line-height: 1.2; /* Better spacing between lines */
}

.middle-section h1 span {
  display: block;
  color: #ECE2D0; /* Different color for emphasis */
  font-size: 55px; /* Slightly larger for emphasis */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
}

.homepage1 {
  position: relative;
  height: 50vh;
  width: 40vw;
  margin-right: 60px;
  margin-top: 50px;

}

.arrow2{
  height: 30vh;
  width: auto;
  bottom: 40px;
  margin-left: 800px;
  margin-top: -300px;
  transform: rotate(40deg);
  opacity: 0;
  // transition slowly, fade in
  transition: opacity 1s ease-in-out;
}

.homepage2 {
  position: relative;
  height: 50vh;
  width: 40vw;
  margin-top: 50px;
  margin-right: -100px;
}

.arrow3{
  height: 20vh;
  width: auto;
  bottom: 40px;
  margin-left: 400px;
  margin-top: -250px;
  transform: rotate(-40deg);
  opacity: 0;
  // transition slowly, fade in
  transition: opacity 1s ease-in-out;
}

.homepage3 {
  position: relative;
  height: 50vh;
  width: 40vw;
  margin-top: 50px;
  margin-right: 20px;
}
