// Specific CSS for your home-page

.home-container{
  background-repeat: no-repeat;
  height: 100vh;
  h1 {
    color: #ffffff;
    font-size: 62px;
    font-weight: 800;
    font-family: 'League Spartan';
  }
  h2 {
    color: #c0c0c0;
    font-size: 36px;
    font-weight: 100;
    font-family: 'Raleway';
  }
}

.top-text {
  height: 30vh;
  padding: 40px;
}

.right-button {
  padding: 80px;
  height: 30vh;
  padding-right: 35px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: #9c9c9c;
    font-size: 35px;
    font-weight: 100;
    font-family: 'Raleway';
  }
  i {
    color: #9c9c9c;
    font-size: 35px;
    padding-left: 18px;
    // transform:scale(1,1.5);
  }
}

.bottom-button {
  justify-content: end;
  padding-bottom: 20px;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #636363;
    font-size: 35px;
    font-weight: 300;
    font-family: 'Raleway';
  }
  i {
    color: #636363;
    font-size: 35px;
    // transform:scale(1.5,1);
  }
}
