#margin-bottom {
  margin-bottom: 50px;
  margin-top: 20px;
}

.calendar-row {
  height: 64px;

}

#calendar-top {
  display: flex;
  justify-content: space-between;

}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-position {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(4, 245, 255, 0.5);
  color: #38003C;
}

.form-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
