#margin-bottom {
  margin-bottom: 50px;
}

.calendar-row {
  height: 64px;

}

#calendar-top {
  display: flex;
  justify-content: space-between;

}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-position {
  padding: 10px;
  height: 15px;
  border-radius: 10px;
  background-color: lightgrey;
}

.form-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
