.stats-wrapper {
  // width: max-content;
  height: 100%;
  overflow: hidden;
}

.stats-container {
  width: max-content;
  display: flex;
  height: 100%;
}

.stats {
  display: flex;
  // width: 100vw;
  height: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.test-div {
  height: 300px;
  width: 600px;
  background-color: blue;
}


.carousel {
  width: 100%;
  height: 100%;
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
    }
  }

  .carousel-control-next {
    right: -60px;
    // move down a bit
    top: -2%;
  }

  #graph-caro-next {
    right: -120px;
    // move down a bit
    top: -2%;
  }

  .carousel-control-prev {
    left: -60px;
    // move down a bit
    top: -2%;
    &:hover {
      left: -60px;
      top: -2%;
      transform: none;
    }
  }
}

strong {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
