
<div class="home-container" style="background-image: linear-gradient(rgba(0,255,133, 0.7), rgba(255, 255, 255, 0.7)), url(<%= asset_path 'players1.png' %>);">
  <div class="top-text">
    <h1>Fantasy Premier League Insights</h1>
    <h2>Your ultimate guide to FPL success</h2>
  </div>
  <div class="lower">
    <div class="right-button">
      <a href="www.somelink.com">Top Picks</a>
      <a href="www.somelink.com"> <i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="bottom-button">
      <a href="www.somelink.com">Login</a>
      <a href="www.somelink.com"> <i class="fa-solid fa-chevron-down"></i></a>
    </div>
  </div>
</div>
