<div class="home-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    <div class="top-text" data-controller="typing">
      <h1 data-typing-target="display"></h1><span class="blinking-cursor">|</span>
      <%# <h2>Your Ultimate Guide to FPL Success</h2> %>
    </div>
    <div class="actions">
      <div class="action-button view-players">
       <%= link_to "Top Picks", players_path, class: "action-link" %>
       <i class="eye-icon"></i>
      </div>
    </div>
  </div>
  <div class="action-button login">
       <%= link_to  new_user_session_path, class: "action-link" do %>
          <i class="fa-solid fa-chevron-down icon"></i>
        <% end %>
  </div>
</div>
