
<div class="home-container">
  <div class="top-text">
    <h1>Fantasy Premier League Insights</h1>
    <h2>Your ultimate guide to FPL success</h2>
  </div>
  <div class="right-button">
    <a href="www.somelink.com">Top Picks</a>
    <a href="www.somelink.com"> <i class="fa-solid fa-chevron-right"></i></a>
  </div>
  <div class="bottom-button">
    <a href="www.somelink.com">Login</a>
    <a href="www.somelink.com"> <i class="fa-solid fa-chevron-down"></i></a>
  </div>
</div>
