.ars {
  background: linear-gradient(135deg, #EF0107 70%, #AA0105 30%);
  color: white;
}

.avl {
  background: linear-gradient(135deg, #670E36 70%, #430A24 30%);
  color: #95BFE5;
}

.bur {
  background: linear-gradient(135deg, #6C1D45 70%, #4D1635 30%);
  color: rgb(237,233,57);
}

.bou {
  background: linear-gradient(135deg, #DA291C 70%, #A82018 30%);
  color: black;
}

.bre {
  background: linear-gradient(135deg, #EE2737 70%, #C7202F 30%);
  color: white;
}

.bha {
  background: linear-gradient(135deg, #0057B8 70%, #003D8A 30%);
  color: white;
}

.che {
  background: linear-gradient(135deg, #034694 70%, #023177 30%);
  color: white;
}

.cry {
  background: linear-gradient(135deg, #1B458F 70%, #13326B 30%);
  color: red;
}

.eve {
  background: linear-gradient(135deg, #003399 70%, #002675 30%);
  color: white;
}

.ful {
  background: linear-gradient(135deg, #ffffff 70%, #eeeeee 30%);
  color: black;
}

.liv {
  background: linear-gradient(135deg, #C8102E 70%, #A00E23 30%);
  color: #F6EB61;
}

.lut {
  background: linear-gradient(135deg, #F78F1E 70%, #C76A16 30%);
  color: #002D62;
}

.mci {
  background: linear-gradient(135deg, #6CABDD 70%, #5293B4 30%);
  color: #1C2C5B;
}

.mun {
  background: linear-gradient(135deg, #DA291C 70%, #A82018 30%);
  color: black;
}

.new {
  background: linear-gradient(135deg, #000000 70%, #333333 30%);
  color: white;
}

.nfo {
  background: linear-gradient(135deg, #DD0000 70%, #B30000 30%);
  color: white;
}

.shu {
  background: linear-gradient(135deg, #EE2737 70%, #C7202F 30%);
  color: white;
}

.tot {
  background: linear-gradient(135deg, #ffffff 70%, #eeeeee 30%);
  color: #132257;
}

.whu {
  background: linear-gradient(135deg, #7A263A 70%, #5C1D2B 30%);
  color: #F3D459;
}

.wol {
  background: linear-gradient(135deg, #FDB913 70%, #C89710 30%);
  color: black;
}
