.ars {
  background: linear-gradient(135deg, #EF0107 70%, #AA0105 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.avl {
  background: linear-gradient(135deg, #670E36 70%, #430A24 30%) !important;
  color: #95BFE5  !important;
  a {
    color: #95BFE5  !important;
    text-decoration: none;
  }
}

.bur {
  background: linear-gradient(135deg, #6C1D45 70%, #4D1635 30%) !important;
  color: rgb(237,233,57) !important;
  a {
    color: rgb(237,233,57) !important;
    text-decoration: none;
  }
}

.bou {
  background: linear-gradient(135deg, #DA291C 70%, #A82018 30%) !important;
  color: black !important;
  a {
    color: black !important;
    text-decoration: none;
  }
}

.bre {
  background: linear-gradient(135deg, #EE2737 70%, #C7202F 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.bha {
  background: linear-gradient(135deg, #0057B8 70%, #003D8A 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.che {
  background: linear-gradient(135deg, #034694 70%, #023177 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.cry {
  background: linear-gradient(135deg, #1B458F 70%, #13326B 30%) !important;
  color: red !important;
  a {
    color: red !important;
    text-decoration: none;
  }
}

.eve {
  background: linear-gradient(135deg, #003399 70%, #002675 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.ful {
  background: linear-gradient(135deg, #ffffff 70%, #eeeeee 30%) !important;
  color: black !important;
  a {
    color: black !important;
    text-decoration: none;
  }
}

.liv {
  background: linear-gradient(135deg, #C8102E 70%, #A00E23 30%) !important;
  color: #F6EB61 !important;
  a {
    color: #F6EB61 !important;
    text-decoration: none;
  }
}

.lut {
  background: linear-gradient(135deg, #F78F1E 70%, #C76A16 30%) !important;
  color: #002D62 !important;
  a {
    color: #002D62 !important;
    text-decoration: none;
  }
}

.mci {
  background: linear-gradient(135deg, #6CABDD 70%, #5293B4 30%) !important;
  color: #1C2C5B !important;
  a {
    color: #1C2C5B !important;
    text-decoration: none;
  }
}

.mun {
  background: linear-gradient(135deg, #DA291C 70%, #A82018 30%) !important;
  color: black !important;
  a {
    color: black !important;
    text-decoration: none;
  }
}

.new {
  background: linear-gradient(135deg, #000000 70%, #333333 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.nfo {
  background: linear-gradient(135deg, #DD0000 70%, #B30000 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.shu {
  background: linear-gradient(135deg, #EE2737 70%, #C7202F 30%) !important;
  color: white !important;
  a {
    color: white !important;
    text-decoration: none;
  }
}

.tot {
  background: linear-gradient(135deg, #ffffff 70%, #eeeeee 30%) !important;
  color: #132257 !important;
  a {
    color: #132257 !important;
    text-decoration: none;
  }
}

.whu {
  background: linear-gradient(135deg, #7A263A 70%, #5C1D2B 30%) !important;
  color: #F3D459 !important;
  a {
    color: #F3D459 !important;
    text-decoration: none;
  }
}

.wol {
  background: linear-gradient(135deg, #FDB913 70%, #C89710 30%) !important;
  color: black !important;
  a {
    color: black !important;
    text-decoration: none;
  }
}
