.ars {
  background-color: #EF0107;
  color: white;
}

.avl {
  background-color: #670E36;
  color: #95BFE5;
}

.bur {
  background-color: #6C1D45;
  color: rgb(237,233,57);
}

.bou {
  background-color: #DA291C;
  color: black;
}

.bre {
  background-color: #EE2737;
  color: white;
}

.bha {
  background-color: #0057B8;
  color: white;
}

.che {
  background-color: #034694;
  color: white;
}

.cry {
  background-color: #1B458F;
  color: red;
}

.eve {
  background-color: #003399;
  color: white;
}

.ful {
  background-color: white;
  color: black;
}

.liv {
  background-color: #C8102E;
  color: #F6EB61;
}

.lut {
  background-color: #F78F1E;
  color: #002D62;
}

.mci {
  background-color: #6CABDD;
  color: #1C2C5B;
}

.mun {
  background-color: #DA291C;
  color: black;
}

.new {
  background-color: black;
  color: white;
}

.nfo {
  background-color: #DD0000;
  color: white;
}

.shu {
  background-color: #EE2737;
  color: white;
}

.tot {
  background-color: white;
  color: #132257;
}

.whu {
  background-color: #7A263A;
  color: #F3D459;
}

.wol {
  background-color: #FDB913;
  color: black;
}
